@page
@model VC.Wallet.WebApp.Areas.HolderDID.Pages.CreateModel
@{
    ViewData["Title"] = "Create a new DID";
}

<div class="card shadow rounded">
    <div class="card-header">
        @if(string.IsNullOrEmpty(Model?.DIDViewModel?.PrivateKey))
        {
            <h3><a asp-page="./Index"><i class="bi bi-arrow-left-circle"></i></a> @ViewData["Title"]</h3>
        }
        else
        {
            <h3><a asp-page="./Add"><i class="bi bi-arrow-left-circle"></i></a> Go to DID Store</h3>
        }
    </div>
    <div class="card-body">
        @if (!string.IsNullOrEmpty(Model?.ErrorMessage))
        {
            <div class="alert alert-danger">
                <p>ERROR: @Model.ErrorMessage</p>
            </div>
        }
        else
        {
            @if (!string.IsNullOrEmpty(Model?.DIDViewModel?.DID))
            {
                <p class="mt-2"><i class="bi bi-key"></i> Download your Private Key and save it is a safe place</p>
                <div class="alert alert-warning">
                    <p>
                        <i class="bi bi-info-circle"></i> Do not share your Private Key with anybody and try not to lose it!
                    </p>
                    <form method="post" asp-page-handler="DownloadPrivateKey">
                        <input type="hidden" asp-for="DIDViewModel.DID" />
                        <input type="hidden" asp-for="DIDViewModel.PrivateKey" />
                        <input class="btn btn-primary" type="submit" value="Download and Save" />
                    </form>
                </div>
                <p><i class="bi bi-file-medical mt-3"></i> Copy your DID below add add it in your DID store</p>
                <div class="bg-light p-3">
                    <p>@Model.DIDViewModel.DID</p>
                </div>
            }
            else
            {
                <form method="post" id="frm_submit">
                    <p>Create your new DID by clicking the button below</p>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary" /> <a class="btn btn-secondary" asp-page="./Index">Cancel</a>
                    </div>
                </form>
            }
        }
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
