@page
@model VC.Wallet.WebApp.Areas.HolderCredential.Pages.CreateModel
@{
    ViewData["Title"] = "Create a Sample Verifiable Credential";
}

<div class="card shadow rounded">
    <div class="card-header">
        <h3><a asp-page="./Add"><i class="bi bi-arrow-left-circle"></i></a> @ViewData["Title"]</h3>
    </div>
    <div class="card-body">
        @if (!string.IsNullOrEmpty(Model?.ErrorMessage))
        {
            <div class="alert alert-danger">
                <p>ERROR: @Model.ErrorMessage</p>
            </div>
        }
        else
        {
            <p class="mt-2"><i class="bi bi-file-earmark-arrow-down"></i> Download your Sample Verifiable Credential and upload it on the Verifiable Credentials page</p>
            <div class="alert alert-success mt-3">
                <form method="post" asp-page-handler="DownloadBadge">
                    <input class="btn btn-primary" type="submit" value="Download" />
                </form>
            </div>
        }
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
